.footer {
   line-height: 140%;
   background: darken($contrast-gold, 60);
   font-family: 'Source Sans Pro', sans-serif;
   color: $contrast-gold;
   font-size: $font-normal;
   padding: 5vh 0 5vh 3vw;
   a {
      color: $contrast-gold;
   }
}
