.wrapper {
   .special-img {
      width: 80vw;
      margin: 10vh calc((100vw - 80vw) / 2);
   }
   p {
      width: 80vw;
      font-size: $font-normal;
   }
   img {
      margin: 10vh calc((100vw - 50vw) / 2);
      width: 50vw;
   }
}

.chart {
   margin-bottom: 10vh;
}
