.gold-titbits {
   .titbit {
      &::before {
         content: attr(data-firstLetter);
         display: block;
         position: relative;
         font-size: 50px;
         top: 2vh;
         left: -4vw;
         opacity: 0.3;
      }
   }
}
