$primary-black: rgb(32, 32, 32);
$secondary-silver: rgb(192, 192, 192);
$contrast-gold: rgb(150, 129, 12);

$core-font-size: 20px;

$font-large: 2.5rem;
$font-medium: 2rem;
$semi-medium-16: 1.6rem;
$semi-medium: 1.4rem;
$font-normal: 1.3rem;
